body{
    width: 100%;
    border: 1px solid grey;
}
header, footer{
    padding: 1em;
    color: white;
    background-color: #b57f66;
    text-align: center;
}
nav{
    max-width: 160px;
    padding: 1em;
    margin: 0;
    float: left;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul a{
    text-decoration: none;
}
nav ul a:hover{
    background-color: #b57f66;
    color: white;
}
article{
    margin-left: 170px;
    border-left: 1px solid grey;
    padding: 1em;
    background-color: burlywood;
    color:black;
}